.btn{
    background-color: #000; 
    border-radius: 0px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin: .5rem 0;
    outline: none;     
    padding: 7px 1.2rem;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);  
    @include transition(all);    
	&:hover{
    	text-decoration: none;
    	background-position: 150% auto;	
        color:#FFF;
        background-color: $color-1;
	}
    &:visited, &:focus{
        color: #FFF;
        text-decoration: none;
    }

	&.btn--transparent{
        color: #000!important;
        background: 0 0;
        border: solid 2px #000;
        padding: 6px 20px;
        font-weight: normal;
		&:hover{
			color:#FFF !important;
			background-color: #000;
		}
	}  
    &.btn--big{
        padding: 12px 2.5rem;
        font-size: 12px;
    }
    &.btn--more{
        padding-right: 35px;
        position: relative;        
        &:before{
            content:"";
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            right: 10px;
            top:50%; 
            transform: translateY(-50%);
            background-image: url("img/icons/btn-more.svg");
            background-position: 90% center;
            background-repeat: no-repeat;
        }       
    }
}