footer{
	background-color: #f7f7f7;
	@include media-breakpoint-down(sm) {
		text-align: center;
	}	 
	ul{
		padding:0px;
	}
	li{
		list-style:none;
		display: inline-block;
		margin: 0 20px 0 0;
		@include media-breakpoint-down(sm) {
			width: 100%;
			text-align: center;
			margin-bottom: 10px;	
		}	 		
	}
	a{
		color: #000;
	    font-size: 12px;
	    letter-spacing: 1px;
	    font-weight: normal;
		&:hover{
			text-decoration:none;
		}
	}
	.social-links{
		li{
			display:inline-block;
			margin-left:20px;
			a:before{
				font-size:22px;
			}
		}
	}
}