header{
	background-color:#FFF;
	padding: 40px 20px 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);	
	border-bottom: solid 1px #f1f1f1;
	z-index: 20;
	overflow: hidden;
	@include transition(all);	
	.logo-section{
		&:hover{
			opacity:0.5;
		}
	}
	.logo{
		font-family: $font-family-2;
		font-size: 52px;
		color:#000;
		position: relative;
		left:0px;
		@include transition(all);		
		@include media-breakpoint-down(sm) {
	    	font-size: 22px;		
		}		
	}
	@include media-breakpoint-down(sm) {
    	transition: all 0.4s;
    	padding: 20px 0;  		
    	position: fixed;
    	height: 70px; 
    	width: 100%;
	}	
	&.open{
		@include media-breakpoint-down(sm) {
	    	height: 100%;
		}	
		background-color:rgba(255, 255, 255, 0.98) !important;
	}	
	&.reduced{
		#main-menu .menu-item:last-child{
			a{
				color: $color-1;
			}
		}	
	}
}
#primary-menu{
	position:relative;
}
#main-menu{
  	padding: 0px;
  	text-align: center;
	.menu-item{
		list-style: none;
	    margin: 10px 20px;
	    display: inline-block;
	    font-size: 14px;
		&:first-child{
			&:before{
				content:"";
			}
		}
		&:before{
			content: ".";
			top: -3px;
			color: #FFF;
			margin-right: 10px;
			position: relative;
		}			    
	}
	a{
		color:#000;
		font-size: 12px;
		letter-spacing: 2px;	
		outline: none;	
		position: relative;
		text-transform: uppercase;
		&:hover{
			text-decoration:underline;	
		}
	}
	.current-menu-item{
		a{
			text-decoration:underline;			
		}		
	}
	&--mobile{
		margin-top: 50px;
		padding: 0px;
		.menu-item{
			text-align: center;
			list-style:none;
			display:inline-block;
			width:100%;
			margin-bottom: 30px;
			&.current-menu-item > a, &.current-menu-ancestor > a{ 
				color:$color-3;	 		
			}
		}
		a{
			color: #000;
			text-align: center;
			letter-spacing: 2px;
			text-transform: uppercase;
			&:hover{
				text-decoration:none;
				color:$color-3;		
			}
		}	
	}	
}
.icon-menu-mobile{
	display: inline-block;
    height: 30px;
    width: 30px;	
    position: relative;
	&__line{
		background-color: #000;
		border-radius: 2px;
		display: block;
		height: 4px;
		width: 30px;
		margin: 4px 0;
		position: absolute;
		top: 9px;
		@include transition();
		&:before{
			content:"";
			background-color: #000;
			border-radius: 2px;
			display: block;
			height: 4px;
			width: 30px;
			position: absolute;
			top: -8px;
			@include transition();					
		}
		&:after{
			background-color: #000;
			border-radius: 2px;
			content:"";
			display: block;
			height: 4px;
			width: 30px;	
			position: absolute;
			bottom: -8px;
			@include transition();								
		}		
	}
	&.close{
		.icon-menu-mobile__line{
			background-color: transparent;
			&:before{
				top:0px;
				transform: rotate(-45deg);
			}
			&:after{
				top:0px;
				transform: rotate(45deg);
			}	
		}	
	}
}