@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Roboto:300,400,400i,500,700,700i');

$header-height:88px;

$color-1: #ffa960; /* Amarelo  */
$color-2: #ffa960; /*  */
$color-3: #db4c84; /*  */
$color-4: #7cc4c3; /*  */
$color-5: #2d395a; /*  */
$color-6: #ec8952; /*  */
$color-7: #f2b743; /*  */
$color-8: #db5288; /*  */
 
$color-black: #000000;
$color-dark: #0D160B;
$color-brown: #70695d;
$color-dark-gray:#333; 
$color-gray:#cac7c3; 
$color-light-gray:#ece9e4; 


$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Merriweather', serif;